footer{
  width: 100%;
  background: #fff;
  padding: 1rem 0;
}

.social-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  /* color: #fff; */
  text-decoration: none;
  padding: 0 5rem;
  font-size: 1.5em;
}
.social-links > svg{
  color: #fff;
  height: 10px;
}